body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('images/game_bg2.jpg'); 
    background-size: cover;
    background-position: center;
}
h1 {
    margin-bottom: 10px;
    color: #9a4d00;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#timer {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #9a4d00;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
td {
    border: 1px solid #aaa;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}
/* Specific styling for grid boundaries */
td:nth-child(3n),
td:nth-child(6n){
    border-right: 2px solid #9f9d9d;
}
tr:nth-child(3n) td,
tr:nth-child(6n) td {
    border-bottom: 2px solid #9f9d9d;
}

input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pre-filled {
    background-color: #ddd;
}
.incorrect {
    background-color: rgba(255, 60, 0, 0.95);
    color: white;
}
label {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #9d7300;
}

select, button {
    margin: 10px 0;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d47d35;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

select:hover, button:hover {
    background-color: #c26e2e;
    transform: translateY(-2px);
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.backtracking {
    background-color: red !important;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    body {
        background-image: url('images/game_bg2.jpg'); 
    }
}
@media (max-width: 600px) {
    td {
        width: 40px;
        height: 40px;
        font-size: 1em;
    }
}
.hint-highlight {
    background-color: yellow;
}
