body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url('images/sudoku.jpg'); 
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.912);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #9d7300;
}

select, button {
    margin: 10px 0;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d47d35;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

select:hover, button:hover {
    background-color: #c26e2e;
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    body {
        background-image: url('images/sudoku_mob.jpg');
        background-size: contain;
        background-position: center;
    }
}